

<html>
<form action = "/______">
<input type="submit" name="home" value = "Home"> </input>
</form>
<h1 style="text-align: center;"><strong>Trivia Page</strong></h1>
<p>Welcome to ShoeBuckle Trivia!</p>
<p>&nbsp;</p>
<p>Question: What is 2+2?</p>

<form action = "/______">
<input type="submit" name="ans1" value = "5"> </input>
<input type="submit" name="ans2" value = "4"> </input>
<input type="submit" name="ans3" value = "8"> </input>
<input type="submit" name="ans4" value = "10"> </input>
</form>

<form action = "/______">
<input type="submit" name="home" value = "Back"> </input>
</form>

</html>
