

<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Trivia</title>
  </head>
<form action = "/">
<input type="submit" name="home" value = "Home"> </input>
</form>
<center>
<h1 class="mx-auto" style="width: 300px;"> <strong>Trivia Page</strong></h1>

<p>&nbsp;</p>
<p>{{question}}</p>

<div class="text-center">
  <img class="img-fluid" style="height: 300px;" src="{{url}}" class="rounded mx-auto d-block"> <!-- https://random-d.uk/api/115.jpg, need to find way to change image size -->
</div>

<form action = "/submitAnswer">
<input class="btn btn-outline-success btn-lg" type="submit" name="ans" value = "{{listAnswers[0]}}"> </input>
<input class="btn btn-outline-success btn-lg" type="submit" name="ans" value = "{{listAnswers[1]}}"> </input>
<input class="btn btn-outline-success btn-lg" type="submit" name="ans" value = "{{listAnswers[2]}}"> </input>
<input class="btn btn-outline-success btn-lg" type="submit" name="ans" value = "{{listAnswers[3]}}" > </input>
</form>


</html>
